{% extends 'base.html' %}
{% load static %}

<!-- Blog Section -->
{% block content %}
<section id="blog">
     <div class="container">
          <div class="row">

               <div class="col-md-offset-1 col-md-10 col-sm-12">
                    <div class="section-title">
                         {% for blog3 in blog2 %}
                         <h3>{{blog3.title_1}}</h3>
                         <h2>{{blog3.title_2}}</h2>
                         {% endfor %}
                    </div>
                    {% for new_blog in blog %}
                    <div class="blog-post-thumb">
                         <div class="blog-post-image">
                              <a href="{% url 'blog:blog-detail' new_blog.pk %}">
                                   <img src="{{new_blog.blog_image.url}}" class="img-responsive" alt="Blog Image">
                              </a>
                         </div>
                         <div class="blog-post-title">
                              <h3><a href="{% url 'blog:blog-detail' new_blog.pk %}">{{new_blog.title}}</a></h3>
                         </div>
                         <div class="blog-post-format">
                              <span><a href="#"><img src="{{new_blog.author_image.url}}" class="img-responsive img-circle">{{blogs.author}}</a></span>
                              <span><i class="fa fa-date"></i>{{new_blog.blog_date}}</span>
                              {% with comment.count as total_comments %}
                              <span><a href="#"><i class="fa fa-comment-o"></i> {{total_comments}} Comments</a></span>
                              {% endwith %}
                         </div>
                         <div class="blog-post-des">
                              <p>{{new_blog.blog_text1}}</p>
                              <a href="{% url 'blog:blog-detail' new_blog.pk %}" class="btn btn-default">Continue Reading</a>
                         </div>
                    </div>
                    {% endfor %}
                    
               </div>

          </div>
     </div>
</section>

{% endblock %}